name: CD Workflow

on:
    workflow_dispatch:
        inputs:
            image_tag:
                description: "Docker image tag to deploy (commit SHA)"
                required: true


jobs:
    deploy:
        name: Manual Deploy Decision
        runs-on: ubuntu-latest

        steps:
            - name: Setup SSH
              run: |
                mkdir -p ~/.ssh
                echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_ed25519
                chmod 600 ~/.ssh/id_ed25519
                ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

            - name: Test SSH Connection
              run: |
                ssh -i ~/.ssh/id_ed25519 \
                    ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} \
                    "echo 'SSH connection sucessful'"
