name: CD Workflow

on:
    workflow_dispatch:
        inputs:
            image_tag:
                description: "Docker image tag to deploy (commit SHA)"
                required: true


jobs:
    deploy:
        name: Manual Deploy Decision
        runs-on: ubuntu-latest

        steps:
            - name: Setup SSH
              run: |
                mkdir -p ~/.ssh
                echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_ed25519
                chmod 600 ~/.ssh/id_ed25519
                ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

            - name: Run candidate container
              run: |
                ssh -i ~/.ssh/id_ed25519 \
                    ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
                        set -e

                        IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/spring-boot-template:${{ inputs.image_tag }}"

                        echo "Pulling image $IMAGE"
                        docker pull $IMAGE

                        echo "Stopping old candidate if exists"
                        docker rm -f app-candidate || true

                        echo "Starting candidate container"
                        docker run -d \
                          --name app-candidate \
                          -p 8081:8080 \
                          $IMAGE
                EOF
            
            # - name: Healthcheck candidate
            #   run: |
            #     ssh -i ~/.ssh/id_ed25519 \
            #         ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            #             echo "Waiting for app to be healthy..."

            #             for i in {1..10}; do
            #                 if curl -fs http://localhost:8081/actuator/health > /dev/null; then
            #                     echo "Healthcheck passed"
            #                     exit 0;
            #                 fi
            #                 echo "Retry $i..."
            #                 sleep 3
            #             done

            #             echo "Healthcheck failed"
            #             exit 1
            #     EOF

            # - name: Promote candidate to current
            #   run: |
            #     ssh -i ~/.ssh/id_ed25519 \
            #         ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            #             echo "Stopping current container"
            #             docker rm -f app-current || true

            #             echo "Promoting candidate to current"
            #             docker rename app-candidate app-current

            #             echo "Restarting current on port 8080"
            #             docker run -d \
            #                 --name app-current
            #                 -p 8080:8080 \
            #                 $(docker inspect --format='{{.Config.Image}}' app-current)
            #     EOF

            # - name: Rollback on failure
            #   if: failure()
            #   run: |
            #     ssh -i ~/.ssh/id_ed25519 \
            #         ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            #             echo "Rollback triggered"
            #             docker rm -f app-candidate || true
            #     EOF