name: CD Workflow

on:
    workflow_dispatch:
        inputs:
            image_tag:
                description: "Docker image tag to deploy (commit SHA)"
                required: true


jobs:
    deploy:
        name: Manual Deploy Decision
        runs-on: ubuntu-latest

        steps:
            - name: Print deploy decision
              run: |
                echo "Deploying image tag: ${{ inputs.image_tag }}"
                