name: CD Workflow

on:
    workflow_dispatch:
        inputs:
            image_tag:
                description: "Docker image tag to deploy (commit SHA)"
                required: true


jobs:
    deploy:
        name: Manual Deploy Decision
        runs-on: ubuntu-latest

        steps:
            - name: Setup SSH
              run: |
                mkdir -p ~/.ssh
                echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_ed25519
                chmod 600 ~/.ssh/id_ed25519
                ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

            - name: Run candidate container
              run: |
                ssh -i ~/.ssh/id_ed255129 \
                    ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
                        set -e

                        IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/spring-boot-template:${{ inputs.image_tag }}"

                        echo "Pulling image $IMAGE"
                        docker pull $IMAGE

                        echo "Stopping old candidate if exists"
                        docker rm -f app-candidate || true

                        echo "Starting candidate container"
                        docker run -d \
                          --name app-candidate \
                          -p 8081:8080 \
                          $IMAGE
                EOF
            
            