name: CI Workflow

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    workflow_dispatch:

jobs:
    build:
        name: Test to Build Docker Image
        runs-on: ubuntu-latest

        permissions:
            contents: read
            checks: write
            pull-requests: write
        
        env:
          IMAGE_NAME: spring-boot-template
          IMAGE_TAG: ${{ github.sha }}
            
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup JDK 21
              uses: actions/setup-java@v4
              with: 
                distribution: temurin
                java-version: 21

            - name: Make Gradle Executable
              run: chmod +x gradlew
            
            - name: Cache gradle
              uses: actions/cache@v4
              with:
                path: |
                  ~/.gradle/caches
                  ~/.gradle/wrapper
                key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

            - name: Run Unit Test
              run: ./gradlew clean test --no-daemon

            - name: Generate Coverage Report
              run: ./gradlew jacocoTestReport --no-daemon

            - name: Upload Coverage Test Report
              uses: actions/upload-artifact@v4
              with:
                name: coverage-report
                path: build/reports/jacoco/test/html
            
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                context: .
                push: true
                tags: |
                  ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{  env.IMAGE_TAG}}

