name: CI Workflow

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            checks: write
            pull-requests: write
        steps:
            - name: Hello CI
              run: echo "Hello from CI Workflow"
            
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Validate Gradle wrapper
              uses: gradle/actions/wrapper-validation@v3
            
            - name: Setup JDK 21
              uses: actions/setup-java@v4
              with:
                distribution: temurin
                java-version: 21

            - name: Grant Executable Gradlew
              run: chmod +x gradlew

            - name: Cache Gradle
              uses: actions/cache@v4
              with:
                path:
                    ~/.gradle/caches
                    ~/.gradle/wrapper
                key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
                restore-keys: |
                  gradle-$${{ runner.os }}
            
            - name: Run Test
              run: ./gradlew clean test --no-daemon

            - name: Generate coverage report
              run: ./gradlew jacocoTestReport --no-daemon

            - name: Upload coverage report
              uses: actions/upload-artifact@v4
              with:
                name: coverage-report
                path: build/reports/jacoco/test/html/
                retention-days: 7
            
            - name: Build project
              run: ./gradlew bootJar --no-daemon

            - name: Upload JAR artifacts
              uses: actions/upload-artifact@v4
              with:
                name: spring-boot-app
                path: build/libs/*.jar
                retention-days: 7

